.message-container{
    width: 70%; float: left; position: relative;
}
.profile-container{
    width: 29%; float: left; position: relative;
    border-left: dodgerblue dotted 1px;
}
a{
    text-align: center;
    position: relative;
    margin:auto;
    color: blue;
}
.advert{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20%;
}