.profile-pic{
    border-radius: 50%;
}

.profile-pic-container{
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 50%;
}

.button-div{
    display: flex;
  align-items: center;
  justify-content: center;
}
