.profile-pic{
    border-radius: 50%;
}

.profile-pic-container{
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 50%;
}

.button-div{
    display: flex;
  align-items: center;
  justify-content: center;
}

.name-submmit{
    background-color: rgb(150, 222, 150);
    border-radius: 5%;
    width: 100%;
}

.name-submit:hover{
    background-color: green;
}

.flex-column{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 25%;
    padding-left: 25%;
}
.flex-row{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 1em;
}

.cancel{
    color:white;
    background-color: red;
    border-radius: 5%;
    width: 100%;
}
.cancel:hover{
    color: darkred;
}

.file-label{
    cursor: pointer;
    border: 3px solid dodgerblue;
    border-radius: 5%;
    padding: 2px
}